@CHARSET "UTF-8";
body {	
	background-color: yellow;
	fint-size: 25pt;
	font-family: sans-serif;
	text-align: center;
	text-decoration: blink;
}




<--! funziona il collegamento con la pagina ma non le modifiche al testo -->
//stesso anche il 26/04/2017 ore 19:24