body {	background-color: red;}

form{ font-family: Times New Roman, serif;
	   font-size: 20px;
	   font-style: italic;
	   line-heigt: 2;
	   text-decoration: blink;}

<--! funziona il collegamento con la pagina ma non le modifiche al testo -->
